 h1 {
          text-align: center;
          color: red;
          background-color: purple;
          }
p {
    text-align: center;
    font-style: italic;
    font: large;
    font-family: 'Times New Roman', Times, serif;
}